@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: theme("colors.background.DEFAULT");
}

::selection {
  background-color: theme("colors.brand.accent");
  color: theme("colors.text.light");
}

.mask-reveal {
  position: relative;
  overflow: hidden;
}

.mask-reveal > span {
  display: inline-block;
  transform: translateY(100%);
  animation: mask-reveal 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes mask-reveal {
  to {
    transform: translateY(0%);
  }
}

